<div class="main posts-index">

    <div class="container">
        <h2>登録資格管理</h2>
          <%= form_tag("/licenses/new") do %>
            <input type="submit" value="新規登録">
          <% end %>

         <%= form_tag("/licenses/show")do %>
            <% @license.each do |license| %>
              <div class="posts-index-item">
                <%= link_to(license.license_name, "/licenses/#{license.id}") %>
                <%= link_to(license.expiration, "/licenses/#{license.id}") %>
                <%= link_to(license.surveillance, "/licenses/#{license.id}") %>
                <%= link_to(license.S_recommendation, "/licenses/#{license.id}") %>
                <%= link_to(license.J_recommendation, "/licenses/#{license.id}") %> 
              </div>
            <% end %>
          <% end %>
   </div>
</div>