
<div class="container">
  <h3>資格一覧</h3>
  <br></br>
  <!--カラム名表示-->
  <table id="dtBasicExample" class="tbset table table-hover table table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">資格名</th>
        <th class="th-sm">有効期限</th>
        <th class="th-sm">サーベイランス</th>
        <th class="th-sm">製造推奨</th>
        <th class="th-sm">事務推奨</th>
      </tr>
    </thead>
  <!--リスト表示-->    
    <% @license.each do |license| %>
      <tr>
        <td><%= link_to(license.license_name, "/licenses/#{license.id}", remote: true) %></td>
        <td><%= link_to(license.expiration, "/licenses/#{license.id}", remote: true) %></td>
        <td><%= link_to(license.surveillance, "/licenses/#{license.id}", remote: true) %></td>
        <td><%= link_to(license.S_recommendation, "/licenses/#{license.id}", remote: true) %></td>
        <td><%= link_to(license.J_recommendation, "/licenses/#{license.id}", remote: true) %></td>
        <div id="licenses-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      </tr>
    <% end %>
  </table>
</div>