<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>資格名
        <%= @license.license_name %>
      </p>
      <p>有効期限
        <%= @license.expiration %>
      </p>
      <p>サーベイランス
        <%= @license.surveillance%>
      </p>
      
      <div class="post-time">
        最終更新<br>
        <%= @license.last_editor %>
        <%= @license.updated_at %>
      </div>
      
      <div class="post-menus">
        <%= link_to("戻る", "/licenses/index") %>      
        <%= link_to("編集", "/licenses/#{@license.id}/edit") %>
        <%= link_to("削除", "/licenses/#{@license.id}/destroy",{method:"post"}) %>
      </div>
    </div>
  </div>
</div>