<div class="main posts-index">
    <div class="container">
      取得資格一覧
      <%= form_tag ("/posts/index"), method: :get do %>
          <div class="posts-index-item">
            <!--選択ボックス-->
              <%= select_tag :search, options_from_collection_for_select(License.all,:license_name, :license_name), {include_blank: true} %>
              ：資格名を選択してください
              <!--検索ボタン-->
              <div class="form">
              <input type="submit" value="検索">
              </div>
          </div>
      <% end %>
    </div>


    <!--検索結果表示-->
      <%= @post.count%>件
   
      <!--カラム名-->
    <table class="table">
      <thead>
        <tr>
          <th>資格名</th>
          <th>氏名</th>
          <th>取得日</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <!--リスト表示-->
    <tbody>
      <% @post.each do |post| %>
      <tr>
        <th><%= link_to(post.license_name, "/posts/#{post.id}") %></th>
        <th><%= link_to(post.holder_name, "/posts/#{post.id}") %></th>
        <th><%= link_to(post.date_of_license, "/posts/#{post.id}") %></th>
      <tr>
      <% end %>
    </tbody>
      </table>
   </div>

</div>