<div class="container">
  <h3>取得一覧</h3>
    <%= form_tag ("/posts/index"), method: :get do %>
      <div class="btn-group">
        <div class="posts-index-item">
          <!--選択ボックス-->
          <%= select_tag :search, options_from_collection_for_select(License.all,:license_name, :license_name), {include_blank: true, :onchange => "this.form.submit()"}  %> 
          ：資格名を選択してください
        </div>
      </div>
    <% end %>

  
    <br></br>  

    <!--検索件数表示-->
    <div class="container">
      <%= @post.count%>件　
    <!--クリアボタン-->
    <button class="cp_button12" onclick="location.href='/posts/index'">クリア</button>
    </div>

    <!--カラム名-->
    <table id="dtBasicExample" class="tbset table table-hover table table-sm" tbcl cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">資格名</th>
          <th class="th-sm">氏名</th>
          <th class="th-sm">取得日</th>
        </tr>
      </thead>
   
      <!--リスト表示-->
      <tbody>
        <% @post.each do |post| %>
          <tr>
            <td><%= link_to(post.license_name, "/posts/#{post.id}", remote: true) %></td>
            <td><%= link_to(post.holder_name, "/posts/#{post.id}", remote: true) %></td>
            <td><%= link_to(post.date_of_license, "/posts/#{post.id}", remote: true) %></td>
            <div id="posts-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
          <tr>
        <% end %>
      </tbody>
    </table>
   </div>
</div>