<div class="container">
<br></br><br></br>
<h2>取得一覧</h2>
  
      <%= form_tag ("/posts/index"), method: :get do %>
      <div class="btn-group">
          <div class="posts-index-item">
            <!--選択ボックス-->
            <%= select_tag :search, options_from_collection_for_select(License.all,:license_name, :license_name), {include_blank: true} %>   
              ：資格名を選択してください　
              <!--検索ボタン-->
          </div>
            <input type="submit" value="検索" class="btn btn-outline-info btn-sm">     
          </div>
      <% end %>
  <br></br>  

    <!--検索結果表示-->
    <div class="container">
      <%= @post.count%>件
    </div>

    <!--カラム名-->
      <table id="dtBasicExample" class="table table-hover table table-bordered table-sm" cellspacing="0" width="100%">      <thead>
        <tr>
          <th>資格名</th>
          <th>氏名</th>
          <th>取得日</th>
        </tr>
      </thead>
   

      <!--リスト表示-->
        <tbody>
          <% @post.each do |post| %>
            <tr>
              <th><%= link_to(post.license_name, "/posts/#{post.id}") %></th>
              <th><%= link_to(post.holder_name, "/posts/#{post.id}") %></th>
              <th><%= link_to(post.date_of_license, "/posts/#{post.id}") %></th>
            <tr>
          <% end %>
        </tbody>
    </table>
   </div>
</div>
