<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>資格名
        <%= @post.license_name %>
      </p>
      <p>取得者
        <%= @post.holder_name %>
      </p>
      <p>取得日
        <%= @post.date_of_license%>
      </p>
      <br>
      <div class="post-time">
        最終更新<br></br>
        <%= @post.last_editor %>
        <%= @post.updated_at %>
      </div>
      
      <div class="post-menus">
        <%= link_to("戻る", "/posts/index") %>      
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy",{method:"post"}) %>
      </div>
    </div>
  </div>
</div>