<div class="container">
  <%= form_tag("/posts/index", id: "contact", method: :get) do %>
    <h3>詳細</h3>
    <h4>編集は編集画面より行ってください<h4>
    <p>資格名：<input value="<%= @post.license_name %>" class="col-sm-5" name="license_name" readonly="disabule" type="text"></p>
    <p>取得者：<input value="<%= @post.holder_name %>" class="col-sm-5" name="license_name" readonly="disabule" type="text"></p>
    <p>取得日：<input value="<%= @post.date_of_license %>" class="col-sm-5" name="license_name" readonly="disabule" type="text"></p>
    <br></br>
    <h4>最終更新</h4>
    <h4>
      <%= @post.last_editor %>
      <%= @post.updated_at %>
    </h4>
    <button class="col-sm-1" name="submit" type="submit" id="contact-submit" data-submit="...Sending" required autofocus >戻る</button>
  <% end %>
</div>