<!DOCTYPE html>
<html>
  <head>
    <title>資格管理システム</title>
    <%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        資格管理システム
      </div>
      <ul class="header-menus">
					
					<% if @current_user %>
						<li>
							ログインユーザー : 
							<%= @current_user.user_name %>さん
						</li>
						
						<li>
							<%= link_to("取得一覧", "/posts/index") %>
						</li>	
						
						<li>
							<%= link_to("取得登録", "/posts/new") %>
						</li>
						
						<li>
							<%= link_to("資格一覧", "/licenses/index") %>
						</li>

						<li>
							<%= link_to("従業員管理", "/employees/index") %>
						</li>

						<li>
							<%= link_to("ログアウト", "/logout", {method: :post}) %>
						</li>

					<% else %>
						<li>
							<%= link_to("新規利用登録", "/signup") %>
						</li>
					<% end %>
        
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
	
    <%= yield %>
  </body>
</html>